/* Importação de fontes da API do Google Fonts*/
/*  @import url('https://fonts.googleapis.com/css2?family=Black=Ops=One&family=Poppins:ital,wght@0,400;1,200;1,400;1,500&display=swap'); */ 

/* Define estilos iniciais para todos os elementos HTML */
* {
    margin: 0; /* Margem zero */
    padding: 0; /* Preenchimento zero */
    box-sizing: border-box; /* Modelo de caixa "border-box" */
    font-family: 'Poppins', sans-serif; /* Fonte padrão */
}

/* Estilos para o corpo (body) da página */
body {
    background: #bab8f3; /* Cor de fundo da página */
    height: 45vw; /* Altura relativa à largura da viewport */
    display: flex; /* Usa o modelo de layout flexbox */
    justify-content: center; /* Centraliza horizontalmente os elementos  */
    align-items: center; /* Centraliza verticalmente os elementos  */
    flex-direction: column; /* Define a direção do layout em coluna */
    color: #fff; /* Cor do texto */
}

/* Estilos para o container principal (._container) */
._container {
    background: #5d57ff; /* Cor de fundo do container */
    padding: 5px; /* Espaçamento interno */
    border-radius: 1em; /* Borda arredondada */
    display: grid; /* Usa o modelo de layout grid */
    justify-content: center; /* Centraliza horizontalmente os elementos  */
    align-content: center; /* Centraliza verticalmente os elementos  */
    grid-template-columns: repeat(4, 60px); /* Define as colunas da grid */
    grid-template-rows: minmax(100px, auto) repeat(5, 60px); /* Define as linhas da grid */
    gap: .5em; /* Espaçamento entre os elementos da grid */
    box-shadow: 0 0 1em rgba(0, 0, 0, 0.5); /* Sombra do container */
}

/* Define estilos para os botões */
._container > button {
    background: #5d57ff; /* Cor de fundo dos botões */
    border: none; /* Remove a borda */
    outline: none; /* Remove o destaque ao clicar */
    border-radius: .5px; /* Borda arredondada */
    font-size: 1.5em; /* Tamanho da fonte dos botões */
    border: 1px solid rgba(20, 30, 70, 0.7); /* Estilo da borda dos botões */
    color: #fff; /* Cor do texto dos botões */
}

/* Estilos para os botões com a classe "equal" */
.equal {
    grid-column: span 2; /* Expande o botão para ocupar 2 colunas na grid */
}

/* Estilos para os elementos com a classe "_span-two" */
._span-two {
    grid-column: span 2; /* Expande os elementos para ocupar 2 colunas na grid */
}

/* Estilos para o elemento com a classe "_output" */
._output {
    grid-column: 1 / -1; /* Ocupa todas as colunas disponíveis na grid */
    padding-right: 1em; /* Espaçamento interno à direita */
    background: #5d57ff; /* Cor de fundo do elemento de saída */
    display: flex; /* Usa o modelo de layout flexbox */
    justify-content: center; /* Centraliza horizontalmente os elementos  */
    align-items: flex-end; /* Alinha os elementos  na parte inferior */
    flex-direction: column; /* Define a direção do layout em coluna */
    row-gap: .7em; /* Espaçamento entre as filas de elementos  */
    border-radius: .5em; /* Borda arredondada */
    box-shadow: inset 5px 5px 1em rgba(0, 0, 0, 0.1), 1em 1em 1em rgba(0, 0, 0, 0.1); /* Sombra no elemento de saída */
}

/* Estilos para o elemento com a classe "_prevValue" dentro do elemento de saída */
._output ._prevValue {
    font-size: 1em; /* Tamanho da fonte para o valor anterior no elemento de saída */
}

/* Define estilos para um elemento com a classe "_curValue" */
._output ._curValue {
    font-size: 2em; /* Tamanho da fonte para o valor atual no elemento de saída */
}
